{% extends 'base.html.twig' %}

{% block body %}
    <h1>ContentRelated</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contentRelated.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ contentRelated.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ contentRelated.url }}</td>
            </tr>
            <tr>
                <th>Eng</th>
                <td>{% if contentRelated.eng %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nsfw</th>
                <td>{% if contentRelated.nsfw %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Uv</th>
                <td>{{ contentRelated.uv }}</td>
            </tr>
            <tr>
                <th>Dv</th>
                <td>{{ contentRelated.dv }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ contentRelated.score }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if contentRelated.deletedAt %}{{ contentRelated.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if contentRelated.createdAt %}{{ contentRelated.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if contentRelated.updatedAt %}{{ contentRelated.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('content_related_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('content_related_edit', { 'id': contentRelated.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
