{% extends 'base.html.twig' %}

{% block body %}
    <h1>Channel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ channel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ channel.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ channel.description }}</td>
            </tr>
            <tr>
                <th>Is public</th>
                <td>{{ channel.public }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{% if channel.createdAt %}{{ channel.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
